:root {
  --body-background-color: #20201f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
  font-family: var(--font-montserrat);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
label {
  margin: 0;
  padding: 0;
  border: 0;
}

span {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.lowercase {
  text-transform: lowercase;
}

.button {
  background-color: #736e6e;
  color: #000;
  font-weight: 800;
  font-size: 15px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 2px 8px;
  box-sizing: border-box;
  position: relative;

  &[data-orange-black] {
    background-color: #e18e00;
    color: #000;
  }

  &[data-yellow-black] {
    background-color: #e5c770;
    color: #000;
  }

  &[data-black-yellow] {
    background-color: #181818;
    color: #e5c770;
  }

  &[data-enabled="true"] {
    cursor: pointer;
  }
}
