$block: "modal";

.#{$block} {
  background-color: #754c05a8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  backdrop-filter: blur(4px);
  text-align: center;

  &__working {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__spinner {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #fff #fff transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 30px;

    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 3px solid;
      border-color: transparent #181818 #181818;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      animation: rotationBack 0.5s linear infinite;
      transform-origin: center center;
    }
  }

  &__message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__close {
    cursor: pointer;
    bottom: 0;
    right: 0;
    left: 0;

    &#{&} {
      padding: 0 30px;
      position: absolute;
    }

    @include desktop {
      position: relative;
      bottom: unset;
      right: unset;
      left: unset;
      margin-top: 40px;

      &#{&} {
        position: relative;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
