$block: "builder-page";

.#{$block} {
  height: calc(100vh - 60px);
  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__builder {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    width: 100%;
  }

  &__preview {
    flex: 1;
    background-color: #373737;
    margin: 20px;
    border-radius: 20px;
  }

  &__toolbar {
    width: 300px;
    background-color: #373737;
    // margin: 20px 0 20px 20px;
    border-radius: 20px;
    padding: 10px;
  }

  &__toolbar-actions-button {
    background-color: #cfcfcf;
    color: #000;
    font-weight: 800;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 2px 8px;
    margin: 20px 0;
    box-sizing: border-box;
    position: relative;

    &:before {
      border-radius: 20px;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: var(--fill-width, 0%);
      transition: width 0.3s ease-in-out;
      background: #e5c770;
      clip-path: inset(0 0 0 0 round 6px 0 0 6px);
    }

    span {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      color: inherit;
    }
  }

  &__cta-text {
    position: relative;
  }

  &__toolbar-header {
    // background-color: #373737;
  }

  &__toolbar-body {
    // background-color: #cfcfcf;
  }

  &__toolbar-feature {
    // background-color: #373737;
    margin-bottom: 20px;
  }
}
