$block: "part-page";

.#{$block} {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 80px;
  // border: dashed 2px red;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // border: solid 2px #373737;
    flex-wrap: wrap;
  }

  &__header-title {
    color: #373737;
    font-weight: 800;
    font-size: 24px;
    margin-top: 20px;

    @include desktop {
      font-size: 60px;
      margin-top: 40px;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    // background-color: #ffffff;
    border-radius: 8px;
    // padding: 6px;
    margin-top: 20px;
    align-items: flex-start;

    @include desktop {
      margin-top: 30px;
      flex-direction: row;
    }
  }

  &__part-image-wrapper {
    flex: 1;

    // background-color: #fff;
    // margin: 20px 0 20px 20px;
    border-radius: 8px;
    // padding: 10px;

    @include desktop {
      margin-right: 10px;
    }
  }

  &__part-description {
    font-size: 16px;
    font-weight: 500;
    color: #373737;
    margin-top: 10px;

    @include desktop {
      margin-top: 30px;
    }
  }

  &__part-info {
    width: 100%;
    background-color: #373737;
    // margin: 20px 0 20px 20px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;

    @include desktop {
      width: 300px;
      margin-top: 0;
    }
  }

  &__part-image {
    width: 100%;
    height: auto;
    // height: 100%;
    // object-fit: cover;
    border-radius: 6px;
  }
}
