$block: "part-page";

.#{$block} {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 80px;
  overflow-y: hidden;
  min-height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__part-header {
    padding: 20px 0;
    margin-bottom: 20px;
  }

  &__header-title {
    color: #e7e5d8;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include desktop {
      font-size: 26px;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    background-color: #20201f;
    border-radius: 8px;
    align-items: flex-start;

    @include desktop {
      flex-direction: row;
    }
  }

  &__part-image-wrapper {
    flex: 1;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__part-description {
    font-size: 16px;
    font-weight: 500;
    color: #e7e5d8;

    & + & {
      margin-top: 20px;
    }
  }

  &__part-description-label {
    font-weight: 700;
    color: #e18e00;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    &--red {
      color: #ff5050;
    }
  }

  &__part-info {
    width: 100%;
    border-radius: 8px;
    padding: 12px 10px 10px 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    @include desktop {
      width: 300px;
      margin-top: 0;
      border-radius: 8px;
      padding: 10px 20px 10px 20px;
    }
  }

  &__part-configurator {
    margin-top: 20px;
  }

  &__part-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
}
