$block: "part-page";

.#{$block} {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 2px #373737;
    flex-wrap: wrap;
  }
}
