$block: "part-configurator";

.#{$block} {
  &__toolbar-feature {
    // background-color: #373737;
    margin-bottom: 20px;
  }

  &__toolbar-feature-category {
    // background-color: #373737;
  }

  &__toolbar-feature-category-label {
    // background-color: #373737;
    font-weight: 800;
    color: gold;
  }

  &__toolbar-feature-part {
    border: solid 1px #cfcfcf;
    border-radius: 6px;
    padding: 0 10px;
    height: 26px;
    margin-top: 10px;
    color: black;
    display: flex;
    align-items: center;

    &--selected {
      border: solid 1px gold;
      background-color: red;
    }

    &--disabled {
      opacity: 0.5;
    }
  }

  &__add-to-cart-button {
    background-color: gold;
    color: black;
    position: fixed;
    bottom: 10px;
    left: 0;
    left: 5%;
    right: 5%;
    height: 50px;
    border: none;
    border-radius: 20px;

    font-weight: 800;

    @include desktop {
      position: relative;
      margin-top: 20px;
      bottom: unset;
      left: unset;
      right: unset;
      width: 100%;
    }
  }
}
